Static {
    content-align: center top;
    color: yellow;
}

#main {
    border: solid #7FFF00;
    height: 100%;
    width: 1fr;
}

#sidebar {
    border: solid #7FFF00;
    height: 100%;
    width: 10;
}


Horizontal {
    height: 1fr;
}