#title {
    content-align: center top;
    color: yellow;
    }

#main {
    border: solid #7FFF00;
    height: 100%;
    width: 1fr;
    content-align: center top;
    text-style:bold;
    color: #ffffff;
}

#sidebar {
    border: solid #ff69b4;
    height: 100%;
    width: 28%;
    content-align: center top;
    color: #87cefa;
    text-style: bold;
    padding: 2;
    }

Horizontal {
    height: 1fr;
}

#search-box {
    width: 99%;
}

#search {
    width: 1fr;
}

#browse {
    margin-bottom: 17;
    text-style: bold;
    width: 100%;
}

#browse-list {
    height: 1fr;
}